@import 'tailwindcss';

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: hsl(var(--sidebar-ring));
  --color-sidebar-border: hsl(var(--sidebar-border));
  --color-sidebar-accent-foreground: hsl(var(--sidebar-accent-foreground));
  --color-sidebar-accent: hsl(var(--sidebar-accent));
  --color-sidebar-primary-foreground: hsl(var(--sidebar-primary-foreground));
  --color-sidebar-primary: hsl(var(--sidebar-primary));
  --color-sidebar-foreground: hsl(var(--sidebar-foreground));
  --color-sidebar: hsl(var(--sidebar));
  --color-chart-5: hsl(var(--chart-5));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-1: hsl(var(--chart-1));
  --color-ring: hsl(var(--ring));
  --color-input: hsl(var(--input));
  --color-border: hsl(var(--border));
  --color-destructive-foreground: hsl(var(--destructive-foreground));
  --color-destructive: hsl(var(--destructive));
  --color-accent-foreground: hsl(var(--accent-foreground));
  --color-accent: hsl(var(--accent));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-muted: hsl(var(--muted));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-primary: hsl(var(--primary));
  --color-popover-foreground: hsl(var(--popover-foreground));
  --color-popover: hsl(var(--popover));
  --color-card-foreground: hsl(var(--card-foreground));
  --color-card: hsl(var(--card));
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: 49 63% 97%;
  --foreground: 49 3.2% 8.5%;
  --card: 49 31.5% 97%;
  --card-foreground: 49 3.2% 13.5%;
  --popover: 49 63% 98.5%;
  --popover-foreground: 49 98.2% 7%;
  --primary: 49 80.1% 41.4%;
  --primary-foreground: 0, 0%, 0%;
  --secondary: 49 22.6% 84%;
  --secondary-foreground: 0 0% 0%;
  --muted: 87 22.6% 92%;
  --muted-foreground: 49 3.2% 38.5%;
  --accent: 87 22.6% 87%;
  --accent-foreground: 49 3.2% 13.5%;
  --destructive: 0 81.5% 44%;
  --destructive-foreground: 49 3.2% 97%;
  --border: 49 26.3% 72.4%;
  --input: 49 26.3% 40.4%;
  --ring: 49 88.7% 45.3%;
  --radius: 0.6rem;
  --sidebar-background: 49, 63%, 92%;
  --sidebar-foreground: 49, 3%, 8%;
  --sidebar-primary: 49, 80%, 37%;
  --sidebar-primary-foreground: 0 0% 0%;
  --sidebar-accent: 87, 23%, 83%;
  --sidebar-accent-foreground: 0 0% 0%;
  --sidebar-border: 49, 26%, 69%;
  --sidebar-ring: 39, 98%, 45%;
}
.dark {
  --background: 49 35.2% 8.5%;
  --foreground: 49 3.2% 97%;
  --card: 49 31.5% 7%;
  --card-foreground: 49 3.2% 97%;
  --popover: 49 35.2% 5%;
  --popover-foreground: 49 3.2% 97%;
  --primary: 49 80.1% 41.4%;
  --primary-foreground: 0, 0%, 0%;
  --secondary: 49 22.6% 17%;
  --secondary-foreground: 0 0% 100%;
  --muted: 87 22.6% 22%;
  --muted-foreground: 49 3.2% 63.5%;
  --accent: 87 22.6% 22%;
  --accent-foreground: 49 3.2% 93.5%;
  --destructive: 0 81.5% 44%;
  --destructive-foreground: 49 3.2% 97%;
  --border: 49 26.3% 40.4%;
  --input: 49 26.3% 40.4%;
  --ring: 49 88.7% 45.3%;
  --radius: 0.6rem;
  --sidebar-background: 49, 35%, 11%;
  --sidebar-foreground: 49, 3%, 100%;
  --sidebar-primary: 49, 80%, 33%;
  --sidebar-primary-foreground: 0, 0%, 0%;
  --sidebar-accent: 87, 23%, 19%;
  --sidebar-accent-foreground: 0 0% 100%;
  --sidebar-border: 49, 26%, 38%;
  --sidebar-ring: 39, 98%, 45%;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
